@import 'ibg.scss';
@import "mixins.scss";
.bordered-image{
	/*border: 2px solid #c02921*/;
}
.adaptiveText{
	font-size: calc((100vw - 320px)/(1200 - 320)*(14 - 10) + 10px) !important;
}
.footerMap{
	width: 100%;
	
	@media screen and (min-width: 1000px) {
		width: 50vw;
	}
	@media screen and (min-width: 1500px) {
		width: 750px;
	}

}
@media (hover: hover){
	.bw-image{
		filter:  grayscale(100%);
	}
}
.reviewText {
	@include fSize(1000,400,21,16);
}
.pricing-modern-title {
	min-height: 2.9em;
	@include fSize(1600,500,20,18);
}
.textBlackBold{
	/*color: #c02921 !important;*/
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1),0px 0px 6px rgba(0, 0, 0, 1),0px 0px 14px rgba(0, 0, 0, 1);
}
.dropShadow{
	-webkit-box-shadow: 0px 0px 10px 3px rgba(115,115,115,1);
	-moz-box-shadow: 0px 0px 10px 3px rgba(115,115,115,1);
	box-shadow: 0px 0px 10px 3px rgba(115,115,115,1);
}
.bluredImage{
	transition:all 0.3s; 
	transform: scale(1,1);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(70,70,70,1);
	-moz-box-shadow: 0px 0px 10px 3px rgba(70,70,70,1);
	box-shadow: 0px 0px 10px 3px rgba(70,70,70,1);
}
.bluredImage:hover{

	transition:all 0.3s; 
	transform: scale(1.05,1.05);
	-webkit-box-shadow: 0px 0px 20px 8px rgba(70,70,70,0.6);
	-moz-box-shadow: 0px 0px 20px 8px rgba(70,70,70,0.6);
	box-shadow: 0px 0px 20px 8px rgba(70,70,70,0.6);
}
.portfolio {
	&__item {
	}

}
.work {
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
	}
	&__bg-white {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: #fff;
	}
	&__bg-color {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		//background:  #CC5618;//#939856/
	}
	&__txt-cont {
	}
	&__img-cont {
		height: 50vh;
		@media screen and (min-width: 720px) {
			height: 70vh;
		}
	}
	&__image {
		position: absolute;
		// width: 80%;
		// height: 80%;
		width: 50vw;
		height: 50vw;
		top: 50%;
		margin-top: -25vw;
		border-radius: 5px;
		@media screen and (min-width: 720px) {
			width: 40vw;
			height: 45vh;
			margin-top: -22.5vh;
			&_left {
				right: 5%;
			}
			&_right {
				left: 5%;
			}
		}
		&_left {
			right: 5%;
		}
		&_right {
			left: 5%;
		}
	}
	&__txt-title{
		h1 { 
			@include fSize(1200,400,30,15);
		}
		&_dark{
			h1 { 
				color: #252227;
			}
		}
		&_light{
			h1 {
				color: lighten(#252227, 50%);
			}
			
		}
	}
	&__txt-description p{
		@include fSize(1200,400,20,10);
		color: white;
	}
}
.portfolio-gallery-container {
}
.portfolio-gallery-layout {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 300px 300px;
	margin: 0 -15px;
}
.portfolio-gallery-block {
	padding:10px;
	overflow: hidden;
	//border: 2px solid rgba(0,0,0,0.1);
	&_TL {
		grid-column: 1 / span 2;
		grid-row: 1 / span 4;
	}
	&_TR {
		grid-column: 3 / span 2;
		grid-row: 1 / span 2;
	}
	&_BR {
		grid-column: 3 / span 2;
		grid-row: 3 / span 2;
	}
	&_small{
		grid-column: span 1;
		grid-row: span 1;
	}
	&_big{
		grid-column: span 2;
		grid-row: span 2;
		&_x2{
			grid-column: span 4;
			grid-row: span 4;
		}
	}
	&_tall{
		grid-column: span 1;
		grid-row: span 2;
		&_x2{
			grid-column: span 2;
			grid-row: span 4;
		}
	}
	&_wide{
		grid-column: span 2;
		grid-row: span 1;
		&_x2{
			grid-column: span 4;
			grid-row: span 2;
		}
	}
}
.portfolio-gallery-block:hover{
	transition:all 0.4s;
	//border: 2px solid rgba(0,0,0,0.1);
	//border-radius: 20px;
}
.portfolio-gallery-image{
	overflow: hidden;
	height: 100%;
	width: 100%;
	transition:all 0.4s;
	transform: scale(1) rotate(0deg);
	-webkit-box-shadow: 0px 0px 6px 3px #8E8E8E; 
	box-shadow: 0px 0px 6px 3px #8E8E8E
	//transform: scale(1.4) rotate(2deg);
	//-webkit-box-shadow: 5px 5px 8px 0px #000000; 
	//box-shadow: 5px 5px 8px 0px #000000;
	//filter: brightness(0.8);
}
.portfolio-gallery-block:hover .portfolio-gallery-image{
	transition:all 0.4s;
	transform: scale(1.3) rotate(6deg);
	//filter: brightness(0.95);
}
/*.portfolio-gallery-text{
	opacity: 0;
	&_container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}*/
/*.portfolio-gallery-block:hover .portfolio-gallery-text{
	transition:all 0.4s;
	opacity: 1;
}*/
//Grid
.product-description-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 10px;
	@media screen and (max-width: 1000px){
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
	@media screen and (max-width: 576px){
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}
}
.product-description{
	margin: 5px;
	padding: 3px;
	border: 1px solid #c02921;
	border-radius: 10px;
	&_small{
		grid-column: span 1;
		grid-row: span 1;
	}
	&_big{
		grid-column: span 2;
		grid-row: span 2;
		@media screen and (max-width: 567px){
    		grid-column: span 1;
  		}
	}
	&_tall{
		grid-column: span 1;
		grid-row: span 2;
		@media screen and (max-width: 576px){
    		grid-column: span 1;
  		}
	}
	&_wide{
		grid-column: span 2;
		grid-row: span 1;
		@media screen and (max-width: 776px){
    		grid-column: span 1;
  		}
	}
}
.contact-form-bg-image{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: blur(6px);
}
.contact-form-modal{
	margin-top: 10vh !important;
	//width: 50%;
	//height: 70%;
	//@media screen and (max-width: 1200px){
	width: 60%;
	//}
	@media screen and (max-width: 776px){
		width: 80%;
	}
	@media screen and (max-width: 576px){
		width: 90%;
	}

}
.contact-form-content{
	overflow-y: scroll !important;
	display: grid;
	grid-template-rows: 1fr 2fr 16fr 1fr;
	grid-template-columns: 3fr 40fr 3fr;

	@media screen and (max-width: 776px){
		grid-template-columns: 3fr 50fr 3fr;
	}
	@media screen and (max-width: 576px){
		grid-template-columns: 3fr 70fr 3fr;
	}
}
.contact-form-inputs{
	grid-column: 2 / span 1;
	grid-row: 3 / span 1;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr auto 1fr;
	grid-template-columns: 1fr;
	//grid-template-rows: 1fr 1fr auto 1fr;
	//grid-template-columns: 1fr 1fr;

	@media screen and (max-width: 776px){
		grid-template-rows: 1fr 1fr 1fr 1fr auto 1fr;
		grid-template-columns: 1fr;
	}
	@media screen and (max-width: 576px){
		grid-template-rows: 1fr 1fr 1fr 1fr auto 1fr;
	}
}
.contact-form-block{
	&_header{
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
	}
	&_input-field{
		text-align: left;
		@include fSize(1200,400,20,14);
		grid-column: span 1;
		grid-row: span 1;
	}
	&_send-button{
		grid-column: span 1;
		grid-row: span 1;
		@media screen and (max-width: 776px){
			grid-column: span 1;
			grid-row: span 1;
		}
	}
	&_input-description-field{
		overflow: hidden;
		grid-column: span 1;
		grid-row: span 1;
		@media screen and (max-width: 776px){
			grid-column: span 1;
			grid-row: span 1;
		}
	}
}
.input-form{
	@media screen and (max-width: 776px){
		margin-bottom: 4px;
	}
	
}
.contact-input-field{
	height: 100%;
	&_description{
		line-height: 1.2;
		resize: none;
		overflow-y: scroll;
		@media screen and (max-width: 776px){
			line-height: 1;
		}
	}
}
.team-profile{
  padding: 0 10px;
  flex: 0 0 33%; 
}
@media screen and (max-width: 1200px) {
  .team-profile{
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 576px) {
  .team-profile{
    flex: 0 0 100%;
    padding: 0 20px;
  }
}

@import "single-project.scss";
